@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BrandId">Brand</label>
                <select asp-for="BrandId" asp-items="Model.Brands" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
    </div>
</form>


<div class="row">

    @foreach (var product in Model.Products)
    {
        <partial name="_ProductPartial" model="product" />
    }

</div>

<div>
    <span class="font-weight-bold">Sayfa:</span> @Model.PaginationInfo.ActualPage / @Model.PaginationInfo.TotalPages <br />
    <span class="font-weight-bold">Ürün Sayısı:</span> @Model.PaginationInfo.ItemsOnPage / @Model.PaginationInfo.TotalItems<br />
</div>